Problem Statement: 
In this assignment students need to predict whether a person makes over 50K per year or not from classic adult dataset using XGBoost.

In [0]:
import numpy as np 
import pandas as pd 
train_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header = None) 
test_set = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test' , skiprows = 1, header = None) 
col_labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation','relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'wage_class'] 
train_set.columns = col_labels 
test_set.columns = col_labels

In [32]:
train_set.head()

   age          workclass  fnlwgt  ... hours_per_week  native_country wage_class
0   39          State-gov   77516  ...             40   United-States      <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States      <=50K
2   38            Private  215646  ...             40   United-States      <=50K
3   53            Private  234721  ...             40   United-States      <=50K
4   28            Private  338409  ...             40            Cuba      <=50K

[5 rows x 15 columns]

In [33]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  wage_class      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [0]:
train_set.drop(train_set[train_set.workclass==' ?'].index,inplace=True)

In [35]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30725 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30725 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          30725 non-null  int64
 3   education       30725 non-null  object
 4   education_num   30725 non-null  int64
 5   marital_status  30725 non-null  object
 6   occupation      30725 non-null  object
 7   relationship    30725 non-null  object
 8   race            30725 non-null  object
 9   sex             30725 non-null  object
 10  capital_gain    30725 non-null  int64
 11  capital_loss    30725 non-null  int64
 12  hours_per_week  30725 non-null  int64
 13  native_country  30725 non-null  object
 14  wage_class      30725 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.8+ MB

In [36]:
train_set.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

In [37]:
test_set.workclass.unique()

array([' Private', ' Local-gov', ' ?', ' Self-emp-not-inc',
       ' Federal-gov', ' State-gov', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [38]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16281 non-null  int64
 1   workclass       16281 non-null  object
 2   fnlwgt          16281 non-null  int64
 3   education       16281 non-null  object
 4   education_num   16281 non-null  int64
 5   marital_status  16281 non-null  object
 6   occupation      16281 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital_gain    16281 non-null  int64
 11  capital_loss    16281 non-null  int64
 12  hours_per_week  16281 non-null  int64
 13  native_country  16281 non-null  object
 14  wage_class      16281 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [0]:
set=train_set.append(test_set)

In [40]:
set.head()

   age          workclass  fnlwgt  ... hours_per_week  native_country wage_class
0   39          State-gov   77516  ...             40   United-States      <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States      <=50K
2   38            Private  215646  ...             40   United-States      <=50K
3   53            Private  234721  ...             40   United-States      <=50K
4   28            Private  338409  ...             40            Cuba      <=50K

[5 rows x 15 columns]

In [0]:
set.drop(set[set.workclass==' ?'].index,inplace=True)

In [0]:
set.drop(set[set.occupation==' ?'].index,inplace=True)

In [0]:
set.drop(set[set.native_country==' ?'].index,inplace=True)

In [44]:
cols=['marital_status','occupation','relationship','race','sex','native_country','wage_class']
for col in cols:
  print(col)
  print(set[col].unique())

marital_status
[' Never-married' ' Married-civ-spouse' ' Divorced' ' Separated'
 ' Married-AF-spouse' ' Widowed' ' Married-spouse-absent']
occupation
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Transport-moving' ' Farming-fishing' ' Machine-op-inspct' ' Sales'
 ' Other-service' ' Tech-support' ' Craft-repair' ' Protective-serv'
 ' Armed-Forces' ' Priv-house-serv']
relationship
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
race
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
sex
[' Male' ' Female']
native_country
[' United-States' ' India' ' Mexico' ' Honduras' ' Puerto-Rico' ' Cuba'
 ' England' ' Canada' ' Germany' ' Iran' ' Philippines' ' Poland'
 ' Cambodia' ' Thailand' ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal'
 ' Dominican-Republic' ' El-Salvador' ' France' ' Jamaica' ' Guatemala'
 ' Italy' ' South' ' Japan' ' Yugoslavia' ' China' ' Peru'
 ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago' ' Greece'
 ' Nicaragua' ' Vietnam' ' Columbia' ' Ireland' ' Hungary' ' Hong'
 ' Holand-Netherlands']
wage_class
[' <=50K' ' >50K' ' <=50K.' ' >50K.']

In [0]:
set.wage_class.replace([' <=50K.',' >50K.'],[' <=50K',' >50K'],inplace=True)

In [0]:
set.wage_class.replace([' <=50K',' >50K'],[0,1],inplace=True)

In [0]:
set.sex.replace([' Male',' Female'],[0,1],inplace=True)

In [0]:
y=set['wage_class']

In [0]:
X=set.drop('wage_class',axis=1)

In [50]:
X.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country'],
      dtype='object')

In [0]:
Xmod=pd.get_dummies(X)

In [52]:
Xmod.head()

   age  fnlwgt  ...  native_country_ Vietnam  native_country_ Yugoslavia
0   39   77516  ...                        0                           0
1   50   83311  ...                        0                           0
2   38  215646  ...                        0                           0
3   53  234721  ...                        0                           0
5   37  284582  ...                        0                           0

[5 rows x 103 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier

In [0]:
X_train, X_test, y_train, y_test = train_test_split(Xmod, y, test_size=0.30, random_state=30)

In [0]:
xgbC=XGBClassifier(n_estimators=100)

In [0]:
model=xgbC.fit(X_train,y_train)

In [0]:
y_pred=model.predict(X_test)

In [58]:
accuracy_score(y_test,y_pred)

0.8664891593761886

In [59]:
model.predict(X_test)[1001]

0

In [60]:
y_test.iloc[1001]

0